# Hubmoni configuration file (JSON-like with comments)
# Defaults are specified in HubMoniConfig object
# only overrrides are required here
{
# Alert e-mail notification list
"ALERT_NOTIFIES" : [ "run_coordination@icecube.wisc.edu", "icecube@icecube.usap.gov" ],
# Alert pages WOs or not
"ALERT_PAGES" : true,
# Alert grace period after hub reboot
"ALERT_GRACE_PERIOD" : 300
}